body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/seamless_paper_texture.png);
}

a {
  color: #00B7FF;
}

li{
	margin-top: 1%;
}

ul{
	list-style: circle;
}

.highlight
{
background-color:yellow;
}

table{
	text-align: center;
	margin: 2%;
	border: solid 1px grey;
}

th{
	text-align: center;
	border:solid 1px;
}

td{
	border: solid 1px;;
}