extends layout

block content
  h1= title
  p Hello, World! 
  p Welcome to #{title}
  br
  h3 You have following links to choose from
  ul
    li
      a(href="/searchform")= "Search Tweets!!"
  br
  a(href="http://people.rit.edu/at4017/645/project2/", target="_blank")= "Hippie Travel Home Page"