doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css",href="dist/sweetalert.css")
    script(src="dist/sweetalert.min.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="/javascripts/script.js")
    link(href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css')


  body
    block content
        
