doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css",href="dist/sweetalert.css")
    script(src="dist/sweetalert.min.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src="/javascripts/script.js")
  body
    block content
        
