extends layout

block content
    h1.
        User List
    ul
        li
            user.username
        br
    br
    br        
    a(href="../newuser")= "New User Page"
    br
    br        
    a(href="../")= "Home Page"